*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 94%;
  margin: auto;
}

nav {
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-left{
  display: flex;
  min-width: 30%;
  justify-content: space-around;
}

#nav-right{
  min-width: 50%;
}

#nav-right #nav-list{ 
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.with-drop{
  position: relative;
}

.drop-down{
  position: absolute;
  min-width: 200px;
  left: -75px;
  display: none;
  box-shadow: 1px 0px 10px -5px;
}

.active {
  display: block;
}

.drop-item {
  height: 4rem;
}

.text-center{
  text-align: center;
}

.drop-item:hover {
  background: rgb(179, 177, 177);
}

.drop-item a {
  line-height: 4rem;
  text-decoration: none;
}